/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.calendar{
  float: right;
  width: 20.00%;
  border: solid;
  padding-left: 10px;
}
.shoes-on-grass {
  float: left;
  width: 70.00%;
  border: solid hidden;
  margin-right: 20px;
}
.heel {
  float: right;
  width: 30%;
  border: solid hidden;
}

.skate {
  float: left;
  width: 30%;
  border: solid hidden;

}

.bug {
  float: left;
  width: 30%;
  border: solid hidden;
}
